body {
background: #4CA1AF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: "avenir-next";
}      

h3{
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
}

.js-search-form {
	color: white;
	display: flex;
	justify-content: center;
}

.js-search-results {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.js-search-results img {
	width: 150px;
}



