body {
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "avenir-next";
}      

.all {
  width: 100%
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 100%;
  padding-left: 10%
}

h3 {
  font-family: "Times New Roman", serif;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
}

#begin {
	padding-top: 0px;
	display: flex;
	justify-content: center;
	width: auto;
}

#startButton {
	margin: 0 10px;
  font-family: "Times New Roman", serif;
  font-size: 2em;
  border: 1px solid rgb(63,110,203);
  border-radius: 6px;
  background-color: rgb(63,152,203);
}

.hidden {
	visibility: hidden;
}

#search {
  border: 1px solid rgb(128,128,128);
  border-radius: 6px;
  background-color: rgb(63,152,203);
  font-family: "Times New Roman", serif;
  font-size: 1.5em;
  margin: 0 0;
}

input[type=text] {
  height: 2em;
  font-size: 1.5em;
  width: 400px;
}

.search-form {
	padding-top: 10px;
  margin: 0 10px;
  text-align: center;
}

.card {
  font-size: 1em;
  height: auto;
  width: 300px;
  background-color: rgb(51, 153, 255);
  text-align: left;
  border: 3px solid rgb(128,128,128);
  border-radius: 10px;
  padding: 10px;
}
.search-results {
  font-size: 1em;
  padding-top: 20px;
  margin: 0 10px;
  text-align: center;
}

.search-results img {
	width: auto;
  height: auto;
}

#random {
  font-size: 2.5em;
}

/*end*/
